<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/"><i class="fa fa-home">&emsp;&emsp;&emsp;Home</a></i>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}"><i class="fa fa-user">&emsp;&emsp;&emsp;{{ node.title }}</a></i>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <li class="sidebar-nav-item"><a href="/archives" target="_blank"><i class="fa fa-archive">&emsp;&emsp;&emsp;Archives</a></li></i>
      <li class="sidebar-nav-item"><a href="{{ site.github }}" target="_blank"><i class="fa fa-github">&emsp;&emsp;&emsp;GitHub</a></li></i>
      <li class="sidebar-nav-item"><a href="{{ site.googleplus }}" target="_blank"><i class="fa fa-google-plus">&emsp;&emsp;&emsp;GooglePlus</a></li></a></li></i>
      <li class="sidebar-nav-item"><a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter">&emsp;&emsp;&emsp;Twitter</a></li></a></li></i>
      <li class="sidebar-nav-item"><a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook-official">&emsp;&emsp;&emsp;Facebook</a></li></a></li></i>
      <li class="sidebar-nav-item">Current Mood is Fabulous</li>
    </ul>

  </div>
</div>
